.footer
	.contact
		p
			| Your Name is Razvan
			br
			| What You Are 
			br
			| me@solopx.com
	.contact
		ul
			li: a(href='https://github.com/yourusername') github.com/yourusername
			li: a(href='https://twitter.com/yourusername') twitter.com/yourusername