.container-fluid.menu
	.container
		p: small header template
		ul.nav.p-0.m-0
			li.nav-item
				a.nav-link(href='{{site.baseurl}}') {{ site.title }}
			li.nav-item
				a.nav-link.active(href='{{site.baseurl}}') Home
			li.nav-item
				a.nav-link(href='{{site.baseurl}}/posts.html') Posts
			li.nav-item
				a.nav-link(href='{{site.baseurl}}/games.html') Games