
<div class="container-fluid menu">
  <div class="container">
    <ul class="nav p-0 m-0">
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}">{{ site.title }}</a></li>
      <!--li.nav-item-->
      <!--	a.nav-link.active(href='{{site.baseurl}}') Home-->
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/games.html">Games</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/slots.html">Slots</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/live.html">Live casinos</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/jackpots.html">Jackpots</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/posts.html">Blog</a></li>
    </ul>
  </div>
</div>