<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
  <body>
    <div class="container-fluid menu">
      <div class="container">
        <p><small>header template</small></p>
        <ul class="nav p-0 m-0">
          <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}">{{ site.title }}</a></li>
          <li class="nav-item"><a class="nav-link active" href="{{site.baseurl}}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/games.html">Games</a></li>
          <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/slots.html">Slots</a></li>
          <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/posts.html">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="container">{{ content }}
      </div>
    </div>
    <footer class="container-fluid">
      <div class="container">
        <p>footer</p>
      </div>
    </footer>
  </body>
</html>