<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
  <body>
    <div class="container-fluid menu">
      <div class="container">
        <ul class="nav p-0 m-0">
          <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}">{{ site.title }}</a></li>
          <!--li.nav-item-->
          <!--	a.nav-link.active(href='{{site.baseurl}}') Home-->
          <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/games.html">Games</a></li>
          <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/slots.html">Slots</a></li>
          <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/live.html">Live casinos</a></li>
          <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/jackpots.html">Jackpots</a></li>
          <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/posts.html">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="container">
        <hr>
        <h2>Live Casinos</h2>
        <ul class="d-flex flex-wrap list-unstyled">
          {% for game in site.games %}
          {% if game.type == "live" %}
          <li class="equalHW d-flex flex-column px-card">
            <div class="m-2 p-2 px-rounded"><a class="w-100 text-center d-block" href="{{game.url}}"><img class="mx-auto" src="{{game.image}}" title=" play {{ game.title }}"></a>
              <h3 class="text-center m-2"><small>{{ game.title | capitalize }}</small></h3>
              <p>{{ game.type }}</p>
            </div>
          </li>{% endif %}
          {% endfor %}	
        </ul>
      </div>
    </div>
    <footer class="container-fluid">
      <div class="container">
        <p>footer</p>
      </div>
    </footer>
  </body>
</html>