extends default	
block content
	p Games list
	ul.d-flex.flex-wrap.list-unstyled
		| {% for game in site.games %}
		li.d-flex.flex-column
			a(href="")
				img(src="{{game.image}}" title=" play {{ game.title }}")
			h2.text-center: small {{ game.title }}
		| {% endfor %}